.container {
  background-color: rgb(204, 191, 174);
}

body {
  background-color: rgb(241, 225, 204);
}

.email-list-container > li{
  background-color: rgb(153, 151, 149);
}

svg {
  height: 100px;
  width: 100px;
  opacity: 0.5;
}