.container {
  background-color: rgb(204, 191, 174);
}

body {
  background-color: rgb(241, 225, 204);
}

.email-list-container > li{
  background-color: rgb(183 167 152);
}

svg {
  height: 100px;
  width: 100px;
  opacity: 0.5;
}

.btn-secondary {
  background-color: rgb(189, 147, 107);
}